<ul class="nav flex-column">
    <li class="nav-item">
        <a href="{{ "homepage"|page }}" class="nav-link link-light p-0 {% if this.page.id == "homepage" %}active{% endif %}">
            Homepage
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ "blog"|page }}" class="nav-link link-light p-0 {% if this.page.id == "blog" %}active{% endif %}">
            Blog
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ "contact"|page }}" class="nav-link link-light p-0 {% if this.page.id == "contact" %}active{% endif %}">
            Contact
        </a>
    </li>
</ul>