<ul class="nav nav-pills {% if mobile %}flex-column{% endif %}">
    <li class="nav-item">
        <a href="{{ "homepage"|page }}" class="nav-link {% if this.page.id == "homepage" %}active{% endif %}">Homepage</a>
    </li>
    <li class="nav-item">
        <a href="{{ "page"|page }}" class="nav-link {% if this.page.id == "page" %}active{% endif %}">Page</a>
    </li>
    <li class="nav-item">
        <a href="{{ "blog"|page }}" class="nav-link {% if this.page.id == "blog" or this.page.id starts with "blog" %}active{% endif %}">Blog</a>
    </li>
    <li class="nav-item">
        <a href="{{ "contact"|page }}" class="nav-link {% if this.page.id == "contact" %}active{% endif %}">Contact</a>
    </li>
</ul>